<ion-view view-title="Change Password">
  <ion-pane class="padding change-password">
    <form ng-submit="createUser">
      <div class="card">
        <p class="item item-assertive" ng-show="!!changePasswordError">
          {{changePasswordError}}
        </p>
        <label class="item item-input item-floating-label">
          <span class="input-label">Old Password</span>
          <input type="text" ng-model="credentials.oldPassword" placeholder="Old Password" autofocus="true" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">New Password</span>
          <input type="password" ng-model="credentials.newPassword" placeholder="New Password" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm New Password</span>
          <input type="password" ng-model="confirmPassword" placeholder="Confirm password" required>
        </label>          
      </div>
      <button class="button button-block button-balanced icon-left ion-settings" ng-click="changePassword()">Change Password</button>
    </form>
  </ion-pane>
</ion-view>
