<ion-pane class="padding signup" on-swipe-right="goBack()">
	<form ng-submit="createUser">
		<div class="card">
			<p class="item item-assertive" ng-show"!!signUpError">
				{{signUpError}}
			</p>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" ng-model="newUser.email" placeholder="Email" autofocus="true" required>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="password" ng-model="newUser.password1" placeholder="Password" required>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Confirm password</span>
		    <input type="password" ng-model="newUser.password2" placeholder="Confirm password" required>
		  </label>
		</div>
		<button class="button button-block button-positive icon-left ion-person-add" ng-click="createUser()">Create Account</button>
	</form>
</ion-pane>
